* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
:root {
  font-size: 13px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(40, 44, 63, 0.15) 0px 15px 40px -20px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  padding: 2rem;
  background: rgb(250, 250, 250);
}
.logo {
  width: 20rem;
}
.logo img {
  width: 100%;
}
.search {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background: rgb(238, 238, 238);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
}
.search-input {
  font-size: 1.6rem;
  font-weight: 500;
  width: 40rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: inherit;
}

.srch-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
}
.srch-icon i {
  font-size: 2.5rem;
  color: rgb(153, 153, 153);
}

.container {
  max-width: 110rem;
  width: 90%;
  margin: auto;
}
.maincontent {
  padding: 16rem 0;
}
.main-upper {
  display: flex;
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  color: #777;
  align-self: flex-end;
}
.title span {
  color: #333;
  font-weight: 800;
}
.items {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.item {
  cursor: pointer;
  background: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.2s;
  box-shadow: #00000029 0 1px 4px;
}
.item:hover{
  transform: translateY(-5px);
  box-shadow: rgba(0,0,0,0.7) 0px 1px 10px;
}
.item-img {
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.item-img img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}
.item-hlgt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__rating {
  display: flex;
  align-items: center;
}
.item__rating div {
  font-weight: 800;
  color: #888;
  font-size: 1.4rem;
}
.item__rating div {
  font-weight: 800;
  color: #888;
  font-size: 1.4rem;
}
.item__rating div {
  font-weight: 800;
  color: #888;
  font-size: 1.4rem;
}

.item__rating div {
  font-weight: 800;
  color: #888;
  font-size: 1.4rem;
}

.item__rating div {
  font-weight: 800;
  color: #888;
  font-size: 1.4rem;
}

.item__rating-icon-cont {
  background: #0da729;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  padding: 3px 3px 3px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.item__rating i {
  color: #fafafa;
  font-size: 1.3rem;
}
.item__price {
  font-size: 1.4rem;
  font-weight: 700;
  color: #555;
  background: #eee;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
}

.footer {
  background: #111;
}

.footer__container {
  max-width: 110rem;
  width: 90%;
  margin: auto;
}

.footer__upper {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.footer__logo-cont {
  width: 16rem;
  margin-bottom: 2rem;
}

.footer__logo-cont img {
  width: 100%;
}
footer .footer__logo-cont img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.footer__text {
  color: #ccc;
  font-size: 1.3rem;
  max-width: 40rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__socials i {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s;
}

.footer__newsletter {
  max-width: 50rem;
}

.footer__newsletter-title {
  font-size: 3rem;
  color: #eee;
  margin-bottom: 2rem;
}
.footer__newsletter-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer__newsletter-form input {
  flex-grow: 1;
  display: block;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  background: transparent;
  border: 2px solid #ccc;
  font-weight: 700;
  font-size: 1.5rem;
  color: #eee;
  font-family: inherit;
  width: 0px;
}
.footer__newsletter p {
  color: #ccc;
  font-size: 1.3rem;
  line-height: 1.6;
}

.footer__lower {
  padding: 5rem 0;
  border-top: 1px solid #555;
}
.footer__lower .text {
  color: #999;
  line-height: 1.6;
  font-size: 1.4rem;
  text-align: center;
}

.footer__newsletter-form button {
  padding: 0 2rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
  background: #fc8019;
  transition: all 0.3s;
  cursor: pointer;
}

@media (max-width: 56.25rem) {
  html {
    font-size: 58%;
  }
  .title {
    display: none;
  }
  .search-input {
    width: 30rem;
  }
  .items {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__upper {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
@media (max-width: 37.5rem) {
  html {
    font-size: 56%;
  }
  .search-input {
    display: none;
  }
  .maincontent {
    padding: 16rem 0 10rem;
  }
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
